footer {
  padding-bottom: 50px;
  padding-top: 30px;

  @media (min-width: $screen-md-min) {
    padding: 45px 50px 55px 0;

    .footer-links {
      &.left {
        padding-left: 90px;
      }
    }
  }

  .logo {
    @include transition($trns-standart);
    vertical-align: middle;
    display: inline-block;
    margin-right: 27px;
    max-width: 130px;

    img {
      display: block;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .footer-links {
    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(n + 2) {
        padding-left: 42px;
      }

      a {
        @include transition($trns-standart);
        font-size: 15px;
        color: #000000;

        @media (hover: hover) {
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}