footer {
  padding-bottom: 50px;
  padding-top: 30px;

  @media (min-width: $screen-md-min) {
    padding: 45px 50px 55px 90px;
  }

  .logo {
    @include transition($trns-standart);
    vertical-align: middle;
    display: inline-block;
    margin-right: 27px;
    max-width: 130px;

    img {
      display: block;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(n + 2) {
      padding-left: 42px;
    }

    a {
      @include transition($trns-standart);
      font-size: 15px;
      color: #000000;

      &:hover {
        color: $color-primary;
      }
    }
  }
}