.options {
  .card {
    .title {
      margin-bottom: 30px;
    }

    ul {
      li {
        @include justify-space-between;
        margin-bottom: 20px;
        @include d-flex;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .rates {
    tr {
      td {
        width: 33.3%;

        &:nth-child(2),
        &:nth-child(3){
          text-align: right;
        }
      }
    }

    h6 {
      margin-bottom: 12px;
    }

    tbody {
      td {
        padding-bottom: 17px;
        display: table-cell;

        img {
          vertical-align: middle;
          margin-right: 8px;
          width: 24px;
        }
      }
    }

    .rate-name {
      font-family: $font-primary;
      font-size: 14px;
      color: #B3B9C2;
    }

    .rate-value {
      font-family: $font-secondary;
      font-size: 15px;
      color: #3B4A5F;
      line-height: 1;
    }

    .change {
      font-size: 12px;
      line-height: 1;
    }
  }
}