.services {
  @include box-shadow(0 0 14px rgba(0, 0, 0, 0.05));
  background: $color-white;
  border-radius: $br-xs;
  padding-bottom: 56px;
  margin-bottom: 20px;
  padding-top: 62px;

  .list {
    @include justify-center;
    @include push-auto;
    @include flex-wrap;
    max-width: 740px;
    @include d-flex;

    li {
      margin-bottom: 50px;
      text-align: center;
      width: 33.3%;

      @media (min-width: $screen-sm-min) {
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
          margin-bottom: 0;
        }
      }

      .service-link {
        display: inline-block;

        @media (hover: hover) {
          &:hover {
            .circle-sticker:before {
              transform: translate(-50%,-50%) scale(1);
              opacity: 1;
            }
          }
        }
      }

      p {
        @include push-auto;
        margin-top: 10px;
        max-width: 89px;

        &.full-width {
          max-width: 100%;
        }
      }

      .circle-sticker {
        background: linear-gradient($color-secondary 0, #EA973E 100%);
        @include transition($trns-sm);
        display: inline-block;
        position: relative;
        border-radius: 50%;
        text-align: center;
        line-height: 58px;
        height: 58px;
        width: 58px;

        &:before {
          content: '';
          transform: translate(-50%,-50%) scale(1.3);
          @include position($top:50%,$left:50%);
          @include transition($trns-standart);
          border: 2px solid $color-primary;
          border-radius: 50%;
          height: 70px;
          width: 70px;
          opacity: 0;
        }

        i {
          vertical-align: middle;
          display: inline-block;
          color: $color-white;
          font-size: 28px;

          &.icon-item-6 {
            font-size: 20px;
          }

          &.icon-item-9 {
            font-size: 18px;
          }
        }
      }
    }
  }
}