//paths
$fonts-folder:          "../fonts";
$images-folder:         "../img/";

//fonts
$font-primary:          "Circular Std Book", sans-serif;
$font-secondary:        "Circular Std Black", sans-serif;
$font-icons:            "icomoon";


//headings
$font-size-h1 :      16px;
$font-size-h2 :      24px;
$font-size-h3 :      20px;
$font-size-h4 :      18px;
$font-size-h5 :      16px;
$font-size-h6 :      12px;


//color usage
$color-primary:      #EA973E;
$color-secondary:    #E1703D;
$color-dark:         #2E3C4D;
$color-gray:         #4D4D4D;
$color-gray-light:   #E5E5E5;
$color-white:        #ffffff;
$color-danger:       #FF004A;
$color-success:      #00E07D;

//text color
$color-text:         $color-dark;

//Text size
$base-font-size:     14px;

//container
$cont-padding:       30px;
$cont-width-xs:      530px;
$cont-width-sm:      720px;
$cont-width-md:      952px;
$cont-width-lg:      1160px;

$gutter-width:       30px;


//Resolutions
$screen-lg:          1200px;
$screen-md:          992px;
$screen-sm:          768px;
$screen-xs:          576px;

//min resolutions
$screen-lg-min:      $screen-lg;
$screen-md-min:      $screen-md;
$screen-sm-min:      $screen-sm;
$screen-xs-min:      $screen-xs;

//max resolutions
$screen-lg-max:      ($screen-lg-min - 1);
$screen-md-max:      ($screen-md-min - 1);
$screen-sm-max:      ($screen-sm-min - 1);
$screen-xs-max:      ($screen-xs-min - 1);


// Transitions
$trns-standart:      all .4s ease;
$trns-sm:            all .3s ease;
$trns-xs:            all .2s ease;

//Border radius
$br-xs:              6px;
$br-sm:              12px;