img {
  max-width: 100%;
}

//dropdown on hover
.dropdown-hover {
  padding-bottom: 8px;
  position: relative;
  padding-top: 8px;

  &:hover {
    .dropdown-link {
      & + .dropdown-menu {
        display: block;
      }
    }
  }

  .dropdown-menu {
    @include box-shadow(0 5px 10px rgba(0,0,0,.18));
    @include position($top:100%,$right:0);
    background-color: #ffffff;
    border-radius: $br-xs;
    padding-right: 5px;
    padding-left: 5px;
    min-width: 160px;
    list-style: none;
    font-size: 14px;
    display: none;
    z-index: 10;
    width: 100%;

    li {
      border-bottom: 1px solid $color-gray-light;
      padding: 15px;

      a {
        @include transition($trns-standart);
        display: inline-block;
        width: 100%;

        &:hover {
          color: $color-primary
        }
      }
    }
  }
}

//simple card style
.card {
  background-color: $color-white;
  padding: 15px 30px 20px;
  border-radius: $br-xs;
  margin-bottom: 30px;
}

//figure style
.figure {
  @include box-shadow(0 0 14px rgba(0, 0, 0, 0.05));
  border-radius: $br-xs;
  overflow: hidden;
  @include d-flex;

  .figure-img {
    @include bg-img($repeat: no-repeat, $size: cover,$position: center);
    width: 193px;
    padding-top: 48%;
  }

  .figure-caption {
    padding: 20px 10px 20px 25px;
    background: #FFFFFF;
    max-width: 230px;

    .description {
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .learn-more {
      @include transition($trns-standart);
      color: $color-secondary;

      i {
        font-size: 9px;
      }

      &:hover {
        color: $color-text;
      }
    }
  }
}

//colors
.color-danger {
  color: $color-danger;
}

.color-success {
  color: $color-success;
}

.bold {
  font-weight: 800;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.badge {
  display: inline-block;
  position: relative;
  padding: 0 30px;

  .badge-new {
    background: linear-gradient(155.66deg, #23BCBA 0, #45E994 100%);
    @include box-shadow(0 4px 4px rgba(52, 210, 169, 0.24));
    @include position($top:0,$right:0);
    border-radius: $br-sm;
    color: $color-white;
    font-weight: bold;
    padding: 4px 10px;
    font-size: 12px;
  }
}

//hover effect -underline
.underline {
  position: relative;

  &:before , &:after {
    content: '';
    background-color: $color-primary;
    @include transition($trns-xs);
    @include position($bottom:-8px,$left:-8px);

  }

  &:before {
    width: 2px;
    height: 0;
  }

  &:after {
    width: 0;
    height: 2px;
  }

  &:hover, &.active {
     &:after {
      width: 60%;
    }

    &:before {
      height: 15px;
    }
  }
}