$icomoon-font-family: "idram-icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-item-2: "\e903";
$icon-item-9: "\e904";
$icon-item-6: "\e906";
$icon-item-4: "\e907";
$icon-item-3: "\e908";
$icon-item-8: "\e90a";
$icon-item-5: "\e90b";
$icon-item-1: "\e90c";
$icon-crown: "\e905";
$icon-menu: "\e90d";
$icon-cheveron-down: "\e900";
$icon-arrow-right: "\e901";
$icon-arrow-left: "\e902";

